* {
    margin: 0;
    padding: 0;
}
div.box {
    background-color: rgba(153, 153, 153, 0.856);
    border: 1px solid black;
    padding: 5px 5px;
    width: 600px;
    text-align: justify;
}
.text {
    overflow: hidden;
    transition: all 2s ease;
    height: 0;
    background-color: rgba(189, 189, 189, 0.856);
}
.some{
    transition: all 2s ease;
    height: 100px;
}
h1 {
    text-align: center;
}